@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* #p4 {
  color: blue;
}

.demo {
  color: white;
  background-color: red;
} */

/* div p {
  color: green;
}

div > span {
  color: red;
} */

/* h1,
div,
span {
  color: yellow;
} */

/* Using outside fonts */

/* * {
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  border: 1px solid rgb(255, 0, 128);
  padding: 5px;
  margin: 5px;
  width: 300px;
}

#h2 {
  border: 10px solid green;
  padding: 20px;
}

p {
  font-size: 2rem;
  /* 32 */
/* }

#d1 {
  font-size: 2rem;
} */

main {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

section {
  border: 1px solid black;
}

#one {
  flex: 1;
  background-color: wheat;
}

#two {
  flex: 1;
  background-color: turquoise;
}

#three {
  flex: 1;
  background-color: thistle;
}
